name: luongvietdung_youtube_video_sharing
services:
  redis:
    image: redis
    ports:
      - "6384:6379"
    volumes:
      - redis-data:/data
  db:
    image: postgres
    environment:
      POSTGRES_USER: ${POSTGRES_USER:-sharing_video}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD:-password}
      PGDATA: /data/postgres
    volumes:
       - postgres-data:/data/postgres
    ports:
      - "5432:5432"
  backend:
    tty: true
    platform: linux/x86_64
    build:
      context: .
      dockerfile: .docker/Dockerfile.ruby
    command: bash -c 'bin/setup && bin/rails db:seed && bin/rails s -b 0.0.0.0'
    volumes:
      - ./backend:/workspace
    environment:
      RAILS_MASTER_KEY: 735e75481d3c15f7e562f01a11bf1075
      POSTGRES_USER: ${POSTGRES_USER:-sharing_video}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD:-password}
      REDIS_URL: redis://redis:6379/1
    depends_on:
      - redis
      - db
    ports:
      - 3000:3000
  frontend:
    tty: true
    platform: linux/x86_64
    build:
      context: .
      dockerfile: .docker/Dockerfile.node20
    command: bash -c 'yarn install && yarn build && yarn start -p 9000'
    volumes:
      - ./frontend:/workspace
    depends_on:
      - backend
    ports:
      - 9000:9000
volumes:
  postgres-data:
  redis-data:
